.section {
  padding-top: 70px;
}

.icon-list-item {
  padding: 20px 0 20px 100px;
  margin-bottom: 20px;
  min-height: 110px;
  position: relative;
}

.icon-list-item .icon {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 15px;
}

.icon-list-item .icon .image {
  width: 80px;
  height: 80px;
  background-color: #0faf97;
}

#parallax-stats .parallax {
  width: 100%;
  height: 250px;
  background-image: url(../img/img_parallax_demo.jpg);
}

#parallax-work-title .parallax {
  width: 100%;
  height: 360px;
  background-image: url(../img/img_parallax_demo.jpg);
}

.section#work {

}

.boxed-title {
  text-align: center;
  padding-top: 130px !important;
  padding-bottom: 160px !important;
}

.boxed-title span {
  display: inline-block;
  padding: 10px 20px;
  border: 6px solid #fff;
  font-size: 48px;
  line-height: 1.3em;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #fff;
}

.stats-section {
  text-align: center;
  padding-top: 50px !important;
  padding-bottom: 100px !important;
  color: #fff;
}

.stat-icon {
  font-size: 50px;
  line-height: 1em;
}

.stat-value {
  margin-top: 30px;
  font-size: 40px;
  font-weight: 800;
  line-height: 1em;
}

.stat-caption {
  margin-top: 10px;
  font-size: 13px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 32px;
}
